# build
dist/

# tier data file
public/*.json

# library
node_modules/

# log files
logs/
docker/logs
yarn-error.log

# JetBrains config directory
.idea/

# vscode config directory
.vscode/

# environment file
.env*

# coverage
coverage/

# set zero install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# mac
*.DS_Store